.footer {
    width: 100%;
    height: fit-content;
    background-color: #2f2f2f;
    
}



.logo-link-column {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 15%;
    margin-right: 5vh;

}
/* 
changed */

.footer-page-links,
.logo-link-column,
.footer-socials-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    height: auto;
    width: 60%;
}

.footer-page-links {
    text-decoration: none;
   text-align: center;
}

.page-link {
    text-decoration: none;
    color: #DDAC7D;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.page-link:hover {
    color: #eb7200;
}

.page-link:focus {
    color: #DDAC7D;
}

.socials-container{
    width: 60%;

}

.socials-column {
    margin-left: 0.125vw;
    margin-right: 0.125vw;
}



.socials-row {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.footer .row{
     align-items: center;
}

.row{
    margin: 0px;
}

.footer-socials {
    height: 100%;
    width: 100%;
     padding: 7%;  
    box-sizing: content-box;
}

@media (max-width: 768px) {
    .logo-link-column {
        height: 30vh;
        padding-left: 17.5vw;
        padding-right: 15vw;
    }

    .footer-page-links {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .socials-column {
        margin-left: -2vw;
        margin-right: -2vw;
    }

    .footer-socials {
        height: 100%;
        width: 50%;
    }
}