.navbar-container {
    width: 100%;
    height: 14vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    pointer-events: auto;

}

.logo-link {
    left: 1vw;
}

.logo-image  {
    height: 100%;
    width: fit-content;
}

.center-buttons {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: #DDAC7D;
}

#nav-profile-pic {
    width: 35%;
    height: 100%;
    border-radius: 100%;
    border-color: white;
    border-style: solid;
}

#nav-profile-pic:hover {
    cursor: pointer;
}

#entry-button-link {
    height: 65%;
    width: 11%;
    margin-top: 0.75%;
}

#entry-button {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0.15vw;
}

#entry-button:hover {
    background-color: white;
    color: black;
}

.user-nav-buttons {
    height: 100%;
    width: 11%;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logout-button {
  background-color: transparent;
  
  color: #DDAC7D;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  border-color: #DDAC7D;
  padding: 8px 12px;
  font-size: 14px;
  transition: color 0.2s ease;
}

.logout-button:hover {
  color: #ff7b00; /* Feel free to adjust this to match your theme */
 border-color: rgb(255, 120, 30);
}
